In [1]:
import pandas as pd
from fractions import Fraction

table = pd.DataFrame(
    index = ['6-sided', '8-sided', '12-sided'])

table['prior'] = [Fraction(1, 3), Fraction(1, 3), Fraction(1, 3)]
table['likelihood'] = [Fraction(1, 6), Fraction(1, 8), Fraction(1, 12)]

In [5]:
def update(table):
    table['unnormalized'] = table['prior'] * table['likelihood']
    total = table['unnormalized'].sum()
    table['posterior'] = table['unnormalized'] / total
    return total

In [3]:
total = update(table)

In [4]:
table

         prior likelihood unnormalized posterior
6-sided    1/3        1/6         1/18       4/9
8-sided    1/3        1/8         1/24       1/3
12-sided   1/3       1/12         1/36       2/9

In [3]:
table3 = pd.DataFrame(index=['Door1', 'Door2', 'Door3'])
table3['prior'] = [Fraction(1, 3)] * 3 
table3['likelihood'] = [Fraction(1, 2), Fraction(0), Fraction(1)]

In [4]:
table3

      prior likelihood
Door1   1/3        1/2
Door2   1/3          0
Door3   1/3          1

In [6]:
update(table3)

Fraction(1, 2)

In [7]:
table3

      prior likelihood unnormalized posterior
Door1   1/3        1/2          1/6       1/3
Door2   1/3          0            0         0
Door3   1/3          1          1/3       2/3

In [11]:
table4 = pd.DataFrame(index=['Coin', 'Trick Coin'])
table4['prior'] = [Fraction(1, 2), Fraction(1, 2)]
table4['likelihood'] = [Fraction(1, 2), Fraction(1)]

In [12]:
update(table4)

Fraction(3, 4)

In [13]:
table4

           prior likelihood unnormalized posterior
Coin         1/2        1/2          1/4       1/3
Trick Coin   1/2          1          1/2       2/3

In [14]:
table5 = pd.DataFrame(index=['1994', '1996'])
table5['prior'] = [0.5, 0.5]
table5['likelihood'] = [0.20, 0.13]

In [15]:
update(table5)

np.float64(0.165)

In [16]:
table5

      prior  likelihood  unnormalized  posterior
1994    0.5        0.20         0.100   0.606061
1996    0.5        0.13         0.065   0.393939