In [2]:
from empiricaldist import Pmf
import numpy as np

In [5]:
prior = Pmf.from_seq(['Bowl 1', 'Bowl 2'])
prior

Bowl 1    0.5
Bowl 2    0.5
Name: , dtype: float64

In [6]:
likelihood_vanilla = [0.75, 0.5]
posterior = prior * likelihood_vanilla
posterior

Bowl 1    0.375
Bowl 2    0.250
Name: , dtype: float64

In [7]:
posterior.normalize()

np.float64(0.625)

In [8]:
posterior('Bowl 1')

np.float64(0.6)

In [9]:
posterior *= likelihood_vanilla
posterior.normalize()
posterior

Bowl 1    0.692308
Bowl 2    0.307692
Name: , dtype: float64

In [10]:
likelihood_chocolate = [0.25, 0.5]
posterior *= likelihood_chocolate
posterior.normalize()
posterior

Bowl 1    0.529412
Bowl 2    0.470588
Name: , dtype: float64

In [11]:
hypos = np.arange(101)
prior = Pmf(1, hypos)
prior.normalize()

np.int64(101)

In [12]:
prior.head()

0    0.009901
1    0.009901
2    0.009901
dtype: float64

In [13]:
likelihood_vanilla = hypos / 100
likelihood_vanilla[:5]

array([0.  , 0.01, 0.02, 0.03, 0.04])

In [14]:
posterior1 = prior * likelihood_vanilla
posterior1.normalize()
posterior1.head()

0    0.000000
1    0.000198
2    0.000396
dtype: float64

In [16]:
hypos = [6, 8, 12]
prior = Pmf(1/3, hypos)

In [17]:
likelihood1 = 1/6, 1/8, 1/12
posterior2 = prior * likelihood1
posterior2.normalize()
posterior2

6     0.444444
8     0.333333
12    0.222222
dtype: float64

In [21]:
def update_dice(pmf, data):
    """Update pmf based on new data."""
    hypos = pmf.qs
    likelihood = 1 / hypos
    impossible = hypos < data
    likelihood[impossible] = 0
    pmf *= likelihood
    pmf.normalize()

In [22]:
pmf = prior.copy()

In [23]:
update_dice(pmf, 1)

In [24]:
update_dice(pmf, 3)
update_dice(pmf, 5)
update_dice(pmf, 7)
pmf

6     0.000000
8     0.835052
12    0.164948
dtype: float64

In [32]:
hypos = [4, 6, 8, 12, 20]
prior = Pmf([1/15, 2/15, 3/15, 4/15, 5/15], hypos)

In [33]:
pmf = prior.copy()

In [34]:
def update_dice(pmf, data):
    """Update pmf based on new data."""
    hypos = pmf.qs
    likelihood = 1 / hypos
    impossible = hypos < data
    likelihood[impossible] = 0
    pmf *= likelihood
    pmf.normalize()

In [35]:
update_dice(pmf, 7)
pmf

4     0.000000
6     0.000000
8     0.391304
12    0.347826
20    0.260870
dtype: float64